@model IEnumerable<MindHealth.Models.Appointment>
@{
 ViewData["Title"] = "Appointment";
 
}<h1>@ViewData["Appointment"]</h1>
 
 
 
 
 
  <div style="height: 40em; overflow: hidden">
 
        <img src="https://i.ibb.co/9qg1Kmj/logo.png?fbclid=IwAR2SsQRO96rBkOyx2nYcS8enuVBSmL9sfzbo589jxBcmB8veK-YXCLm642E" float:left style="width: 20%">
    </div>
 
 
    <div  style="height: 60cm" class="moveDiv" style="overflow: hidden" >
 
        <img class="moveimageLeft" src="https://i.ibb.co/g7h952R/1231.png" align="bottom">
       <p style="font-size:140%; color:#193f91" class="text-center"><b>Our mission</b></p>
        <pre><b><h4 style="margin-top: 3%">Making professional therapy accessible, affordable, and convenient-so 
            anyone who struggles with life's challenges can get help, anytime and
            anywhere.
</h4></b></pre>

   <p style="font-size:140%; color:#193f91" class="text-center"><b>Support</b></p>
        <pre><b><h4 style="margin-top: 3%">Our support staff is always here to help resolve any problems you may encounter.
            Do not hesitate to contact us!
</h4></b></pre>


   <p style="font-size:140%; color:#193f91" class="text-center"><b>Statistics</b></p>
        <pre><b><h4 style="margin-top: 3%"><ul>
                                           <li> Number of licensed therapists: 20
                                           <li> Total number od patients: 90
                                           <li> Total minutes of therapy:900
                                           <li> Average mark of all therapists: 4.27
                                           </ul>
</h4></b></pre>
    </div>
 
 
 
<style>
    .moveDiv {
        position: relative;
        bottom: 300px;
    }
.moveimageTop
{
    position: relative;
    top: 40px;
}
 
.moveimageBottom
{
    position: relative;
    bottom: 90px;
}
 
.moveimageLeft
{
    position: relative;
    left: 170px;
}
 
.moveimageRight
{
    position: relative;
    right: 10px;
}
 
 
body {
      margin: 0;
      background-color: #c6cbe1;
    }
 
    </style>