@model IEnumerable<MindHealth.Models.LogIn>
@{
 ViewData["Title"] = "LogIn";
 
}<h1>@ViewData["LogIn"]</h1>
 
 
 
 
 
  <div style="height: 50em; overflow: hidden">

    
        <p style="font-size:140%; color:#193f91" class="text-center"><b>Login</b></p>
            <pre><form>
Email : 
<input type="text" name="email">
<br>
Password: 
<input type="text" name="password">
</form></pre>
      
        

   
    </div>
 
 
 



<style>

 
 
body {
      margin: 0;
      background-color: #c6cbe1;
    }
 
    </style>