@model IEnumerable<MindHealth.Models.FAQ>
@{
 ViewData["Title"] = "FAQ";
 
}<h1>@ViewData["FAQ"]</h1>
 
 
 
 
 
  <div style="height: 50em; overflow: hidden">

    
        <p style="font-size:140%; color:#193f91" class="text-center"><b>What is MindHealth?</b></p>
            <pre><b><h5 style="margin-top: 3%" class="text-center">MindHealth is multilingual therapy platform which provides
                affordable mental health therapy sessions to its users.
</h5></b></pre>
      
        

        
   <p style="font-size:140%; color:#193f91" class="text-center"><b>Who will helping me?</b></p>
        <pre><b><h5 style="margin-top: 3%" class="text-center">We offer a wide range of available therapists, each of which
            specializes in different area of therapy.
</h5></b></pre>

   <p style="font-size:140%; color:#193f91" class="text-center"><b>Why MindHealth?</b></p>
        <pre><b><h5 style="margin-top: 3%" class="text-center">MindHealth is a flexibile and customizable platform. You can
            choose your preferred therapist by virtual of common language or
            other cirteria. You are also able to choose the exact time and date
            of your session - whenever you feel like it.
</h5></b></pre>


    <p style="font-size:140%; color:#193f91" class="text-center"><b>How do video-sessions work?</b></p>
        <pre><b><h5 style="margin-top: 3%" class="text-center">Video-sessions are available to premium users. You and your
            preferred therapist will join a virtual room where you can
            communicate using video. You will also get a notification before
            the session starts so you don't have to worry about forgetting!
  
</h5></b></pre>
    </div>
 
 
 
<style>

 
 
body {
      margin: 0;
      background-color: #c6cbe1;
    }
 
    </style>