@model MindHealth.Models.Termin
@{
    ViewData["Title"] = "CheckAvailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
<h3>Request for the appointment @Model.vrijemeOdrzavanja sent successfully! You will get more information when the request is approved.</h3>

@Model.usernameKorisnika