@model MindHealth.Models.Termin
@{
    ViewData["Title"] = "MakeAnAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Make An Appointment</h3>
<br/>
<br/>
Pick the time of the appointment:
<br/>
   <div class="form-group">
                <input asp-for="vrijemeOdrzavanja" class="form-control"/>
               <span asp-validation-for="vrijemeOdrzavanja" class="text-danger"></span>
            </div>

            <input name="Check availability" value="Check availability" id="Button2" title="Check availability" style="border-style:Solid; color:#FFFFFF; background-color:#193f91" type="submit" onclick="location.href='@Url.Action("CheckAvailability",new {@id = @Model.idPsiholog,@datum = @Model.vrijemeOdrzavanja})'">
  
       
           
            <br/>

            Price : @Model.cijenaTermina!!!
