@{
 ViewData["Title"] = "Home Page";
}
 
 
    <body>
 
<h1 style="text-align: center">MindHealth</h1>
<div style="height: 20em; overflow: hidden">
 
 <img src="https://i.ibb.co/9qg1Kmj/logo.png?fbclid=IwAR2SsQRO96rBkOyx2nYcS8enuVBSmL9sfzbo589jxBcmB8veK-YXCLm642E" style="width: 20%">
</div>
<pre><b><h1 style="margin-top: 3%">   Aplikacija za usluge online psihoterapije  </h1></b></pre>
<div style="margin-top: 2%; color: black; font-size: 1.5em"></div>

        </body>
        <style>
        body{
            margin: 0;
            background-color: #c6cbe1;
        }
            </style>
            