@{
 ViewData["Title"] = "Home Page";
}
 
 
    <body>
 
<h1 style="text-align: center">MindHealth</h1>
<div style="height: 30em; overflow: hidden">
 
 
  <p align="center"><img  src="https://i.ibb.co/9qg1Kmj/logo.png?fbclid=IwAR2SsQRO96rBkOyx2nYcS8enuVBSmL9sfzbo589jxBcmB8veK-YXCLm642E" style="width: 35%"></p>
</div>
<p><b><h1 class="text-center" style="margin-top: 3%">   Aplikacija za usluge online psihoterapije  </h1></b></p>
<div style="margin-top: 2%; color: black; font-size: 3em"></div>
 
        </body>
        <style>
        body{
            margin: 0;
            background-color: #c6cbe1;
        }
            </style>
 